 @import "bootstrap-sprockets";
 @import "bootstrap";

 .jumbotron {
   background-image: url(http://i43.photobucket.com/albums/e366/yinonmar/BEckground-Mysoace-Im.jpg);
   height: 350px;
   color: white;
   background-repeat: no-repeat;
   background-size: cover;
   border-radius: 0;
   font-weight: bold;
   text-align: center;
   margin-top: 0px;
   p {
   color: white;
   }
 }

img {
  width: 75%;
  margin: auto;
}
